<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit | The neighborhood</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/controlpanel.css">

</head>

<body>
    <%- include("partials/header") %>
    <main>
        <div class="fileslist">
            <!-- EXAMPLE TEXT -->
            <a class="folder">Folder: New Folder</a><br>
            <a class="file">File: index.html</a><br>
            <a class="file">File: script.js</a><br>
            <a class="file">File: style.css</a><br>
            <a class="file">File: video.webm</a><br>
        </div>
    </main>
</body>

</html>