<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit | The neighborhood</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/controlpanel.css">
    <link rel="stylesheet" href="/css/form.css">

</head>

<body>
    <%- include("partials/header") %>
    <main>
        <div class="fileslist">
            <% files.forEach(File => { %>
            <a class="file"><%= File %></a> &nbsp;&nbsp;&nbsp;&nbsp; <a class="deletefile" href="/House/deletefile/<%= File %>">X</a><br>
            <% }) %>
        </div>
        <form class="baseform" method="post" action="/House/addfiles" id="AddForm" enctype="multipart/form-data">
            <input type="file" name="file" style="display: none;" id="file" multiple onchange="submit()">
            <input class="file" type="button" value="Add Files" onclick="document.getElementById('file').click();"/>
            <p>For a website to be displayed you need to at least have a index.html page</p>
        </form>
    </main>
</body>
</html>