<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unlock the door | The Neighborhood</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/form.css">

</head>

<body>

    <%- include("partials/header") %>
    <main>
          <form action="/login" method="post">
            <h1 class="tagline">Welcome back to the neighborhood</h1>
            <hr>
            <div class="baseform">
            <input class="textbox" type="text" name="username" placeholder="Username"><br>
            <input class="textbox" type="password" name="password" placeholder="Password"><br><br>
            <input class="submit" type="submit" value="Unlock the door">
            </div>
            
          </form>

    </main>
</body>

</html>