<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Street View | The neighborhood</title>
    <link rel="stylesheet" href="/css/base.css">

</head>

<body>
    <%- include("partials/header") %>
    <main>
        <h1 class="tagline">Street View</h1>
        <p>See all the users and view their homes! (Webpages)</p>
        <hr>
        <div class="neighbors">
            <% Homeowners.forEach(profile => { %>
            <div class="homeowner">
                <img src="<%= profile.ProfilePicture %>" class="profileimg">
                <h2><%= profile.username %></h2>
                <a class="home" href="/House/<%= profile.username %>">View my house</a>
            </div>
            <% }) %>
        </div>
    </main>
</body>

</html>