.baseform
{
    text-align: center;
    justify-content: center;
}
.baseform .textbox {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 14px;
    width: 75%;
    height: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.baseform .submit {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 1em;
    font-size: 14px;
}